/*
 * Main
 */

.treeview-pagesections {}

.treeview-item {
	position: relative;
	box-sizing: border-box;
	border: 1px solid black;
}

.treeview-item-flow {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}

.treeview-item-children {
	padding-left: 2em;
}

.treeview-item-content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 0.5em;
}

.treeview-item-content__text {
	margin-left: 1em;
}

.treeview-item-content__classname {
	font-size: 87%;
}

.treeview-item-content__title {
	font-weight: bold;
}

.treeview-item .treeview-item-actions {
	background: #ccc;
}

.treeview-item .tree-button {
	appearance: none;
	background: transparent;
	border: 2px solid #43536d;
	color: #43536d;
	border-radius: 0.5em;
	width: 1em;
	height: 1em;
	padding: 0;
	margin: 0.25em 0 0 0;
	box-sizing: border-box;
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 114%;
}

.treeview-item .tree-button.is-end {
	opacity: 0;
}

.treeview-item .tree-button:hover {
	color: #005489;
	border-color: #005489;
}

.treeview-item .tree-button:before {
	position: absolute;
	left: -0.08em;
	top: -0.08em;
	font-size: 90%;
}

.treeview-item .tree-button .btn__title {
	display: none;
}

.treeview-item-fill {
	flex: 1;
}

/*
 * Add new button
 */

.treeview-actions-addnew {
	display: inline-block;
}

.treeview-actions-addnew div {
	display: inline-block;
}

/*
 * Tree Nav
 */

.treeview-menu {
	display: none;
	z-index: 1000;
	position: fixed;
	overflow: hidden;
	border: 1px solid #ccc;
	white-space: nowrap;
	font-family: sans-serif;
	background: #fff;
	color: #333;
	border-radius: 5px;
	padding: 0;
}

.treeview-menu li {
	padding: 8px 12px 8px 2em;
	cursor: pointer;
	list-style-type: none;
	transition: all 0.3s ease;
}

.treeview-menu li:hover {
	background-color: #e9f0f4;
}

.treeview-menu li.header {
	font-weight: bolder;
	cursor: default;
	border-bottom: 1px solid #ccc;
	padding-left: 8px;
}

.treeview-menu li.header:hover {
	background: none;
}

.treeview-menu li.options {
	border-top: 1px solid #ccc;
}

/**
 * Orderable rows
 */

.treeview-item__draggable {
	z-index: 300;
	background: #f6f7f8;
	padding: 2px 4px;
	border-radius: 2px;
	box-shadow: 0 0 1px #ccc;
}

.treeview-item__draggable.state-active {
	border: 1px solid #417505;
}

.treeview-item__draggable:before {
	position: absolute;
	content: '';
	left: -19px;
	top: -19px;
	width: 8px;
	height: 8px;
	border: 3px solid #4a4a4a;
	border-radius: 50%;
	box-sizing: border-box;
}

.treeview-item-reorder {
	position: absolute;
	height: 100%;
}

.treeview-item-reorder .ui-droppable {
	position: absolute;
	left: 100%;
	width: 2em;
	z-index: 100;
	display: none;
}

.treeview-item-reorder .ui-droppable svg {
	position: absolute;
	left: 0;
	top: 50%;
	z-index: 100;
	transform: translate(0, -50%);
}

.treeview-item-reorder .ui-droppable svg path {
	fill: #a8cb7f;
}

.treeview-item-reorder .ui-droppable.before {
	top: 0;
	height: 33%;
}

.treeview-item-reorder .ui-droppable.before svg {
	top: 0;
}

.treeview-item-reorder .ui-droppable.middle {
	top: 33%;
	bottom: 33%;
}

.treeview-item-reorder .ui-droppable.middle svg {}

.treeview-item-reorder .ui-droppable.after {
	bottom: -1px;
	height: 33%;
}

.treeview-item-reorder .ui-droppable.after svg {
	top: 100%;
	margin-top: -1px;
}

.treeview-item-reorder .ui-droppable.state-active {
	z-index: 200;
}

.treeview-item-reorder .ui-droppable.state-active svg path {
	fill: #417505;
}
